body {
	margin: 0;
	padding: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	font-family: sans-serif;
}

.CodeMirror {
	height: 100%;
}

.container {
	display: flex;
	height: 100%;
}

#console {
	height: 100%;
}

.console_container {
	top: 35px;
}

.edit-div {
	border-right: 1px solid white;
	position: relative;
	width: 50%;
}

.edit-div:last-child {
	border: none;
}

.edit-div label {
	position: absolute;
	right: 5px;
	top: 5px;
	color: gold;
	z-index: 1;
}

#options {
	position: fixed;
	top: 5px;
	right: 0;
	z-index: 1000;
	align-items: flex-end;
	display: flex;
	flex-direction: column;
}

#options select {
	display: block;
	margin-bottom: 3px;
}

#run {
	position: relative;
	width: 50%;
}

#buttons {
	z-index: 4;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	background-color: gray;
}
